.new-task-card {
    height: 100px;
    width: 250px;
    background-color: #181818;
    margin: 20px;
    border-radius: 10px;
    border: #4c4c4c solid 1px;
    color: #4c4c4c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.new-task-card:hover {
    border: white solid 1px;
    color: white;
    transition: 0.5s;
}