.project-card {
    height: 250px;
    width: 250px;
    background-color: #181818;
    margin: 20px;
    border-radius: 10px;
    border: #4c4c4c solid 1px;
    color: #4c4c4c;
    cursor: pointer;
}

.project-card-content {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-description {
    margin-top: 10px;
}

.project-card-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.project-assigned-members,
.project-tasks {
    display: flex;
    background-color: #4c4c4c;
    color: #181818;
    border: 1px solid;
    border-radius: 15px;
    padding: 2px 10px;
}

.project-card:hover {
    border: #e5e5e5 solid 1px;
    transition: 0.5s;
}

.project-card-dates {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}